<robot name="plane">

  <material name="red">
    <color rgba="1 0 0 1" />
  </material>

  <link name="planeLink">
  <contact>
      <lateral_friction value="1" />
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
       <mass value=".0" />
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
				<mesh filename="custom_plane.obj" scale="1 1 1" />
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -5" />
      <geometry>
	 	<box size="30 30 10" />
      </geometry>
    </collision>
  </link>


  <link name="obstacle_1">
  <contact>
      <lateral_friction value="1" />
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
       <mass value=".0" />
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin rpy="1.57075 0 0" xyz="-20 0 0" />
      <geometry>
        <cylinder length="1" radius="0.01" />
      </geometry>
      <material name="red">
      </material>
    </visual>
    <collision>
      <origin rpy="1.57075 0 0" xyz="-20 0 0" />
      <geometry>
        <cylinder length="1" radius="0.01" />
      </geometry>
    </collision>
  </link>

  <joint name="obstacle_1_fix" type="fixed">
    <parent link="planeLink" />
    <child link="obstacle_1" />
    <origin xyz="0 0 0" />
  </joint>    




</robot>